<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs03ZeFZzrvexs7eEZVtkq-pFrCOFRnLk</string>
	<key>GCM_SENDER_ID</key>
	<string>477024690726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antay.wasteManagement</string>
	<key>PROJECT_ID</key>
	<string>swiftuiwastemanager</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiwastemanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477024690726:ios:3659c2de6663d71b06bce7</string>
</dict>
</plist>